.header {
  background: white;
  // border-bottom: 1px dashed rgb(212, 212, 212);
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.05);
  color: white;
  padding: 0.7rem;
  .wrapper {
    margin: auto;
    padding: 0 1rem;
    max-width: 82rem;
    .left {
      svg {
        height: 1.75rem;
      }
    }
  }
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.7rem;
  font-size: 0.7rem;
  color: rgba(0, 0, 0, 0.6);
  .wrapper {
    margin: auto;
    max-width: 82rem;
    display: flex;
    justify-content: space-between;
    .right {
      display: flex;
      grid-gap: 1rem;
    }
  }
}
